/* html {
    height: fit-content;
} */

body {
    /* background: #312244; */
    background: rgb(0, 100, 102);
    background: linear-gradient( 0deg, rgba(0, 100, 102, 1) 0%, rgba(33, 47, 69, 1) 35%, rgba(77, 25, 77, 1) 100%);
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background-size:auto; */
    /* font-family: "Play", sans-serif; */
}

h1 {
    font-family: 'Caveat', cursive;
    color: #006466;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;

}

p {
    color: white;
    font-size: 4vh;
    font-family: "Play", sans-serif;
}

a {
    font-family: "Play", sans-serif;
    color: white;
}

h2 {
    color: #006466;
    font-size: 40px;
    /* text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff; */
}

.socialLinks {
    font-size: 2vh;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

.socialLinks img {
    width: 5vh;
    border-radius: 0;
}

.linkedInLogo {
    background: white;
    padding: 3px;
    border-radius: 5px;
    margin-left: 300px;
}

.gitHubLogo {
    height: max-content
}

.instagramLogo {
    margin-right: 300px;
}

.socialLinks a {
    text-decoration: none;
    color: white;
}

.logo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    justify-content: center;
    margin-bottom: -45px;
}

.skcircle {
    /* width: 10vw;
    height: 10vw; */

    width: 12vh; 
    height: 12vh;
    background: #065a60;
    border-radius: 50%;
}

/* .k {
    font-family: 'Lakki Reddy', cursive;
    font-weight: 1000;
    color: black;
    background: #065a60;
    border-radius: 50%;
    width: 12vh;
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10vh;
} */

.name {
    font-size: 10vh;
}

.mainBlerb {
    /* display: flex;
    justify-items: center; */
    display: block;
    margin-left: 5vw;
    /* margin-right: auto; */
    font-size: 35px;
}

table img {
    width: 20vw;
    height: auto;
}



.topNav {
    background: #0b525b;
    color: white;
    /* display: flex; */
    padding-top: 10px;

}

.mainlinks a {
    /* color: white; */
    font-family: "Amatic SC", sans-serif;
    text-decoration: none;
    color: white;
}

.mainlinks a:hover {
    color: #4d194d;
}


.korchie2transback {
    width: 50vw;
    /* margin-left: 50%;
    margin-top: -80px; */

}

.amBlerb {
    /* margin-top: 55px; */
    margin-left: 30px;
    margin-right: 30px;
}


.homepageContainer {
    display: flex;
    justify-content: space-between;
}

.homepageWords {
    display: block;
    margin-left: 20px;
    margin-right: 20px;
    
}

.sk_transBack {
    width: 50%;
    margin-top: 20px;
    border-radius: 8px;
}

.amContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.portfolioBlerb {
    margin: 30px;
}


img {
    border-radius: 4rem;
}

.edTitle {
    margin-left: 10px;
}

.ed {
    margin-left: 20px;
    font-size: 25px;
    color: #312244;
}

.projectsTitle {
    margin-top: 20px;
    font-size: 25px;
    color: #006466;
}

.projects {
    font-size: 20px;
    margin-left: 75px;
}

.projects a {
    color: white;
}

.skillsTitle {
    margin-top: 20px;
    font-size: 25px;
    color: #006466;
}

.skills {
    font-size: 20px;
    margin-left: 75px;
}

.wsu {
    margin-top: 33.2px;
}

.edContainer {
    opacity: 90%;
    background: rgb(141, 144, 144);
    background: linear-gradient(180deg, rgba(141, 144, 144, 1) 0%, rgba(145, 145, 145, 0.9699230033810399) 35%, rgba(78, 78, 78, 0.8942927512801996) 100%);
    width: fit-content;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 10px;
}

.containerAboveEd {
    display: flex;
}

.korchie3transback {
    width: 50%;
    height: 50%;
}

/* .d-block {
    height: 400px;
} */

/* .carouselContainer {
    display: flex;
    justify-content: center;
} */

/* working on this */
/* .carouselContainer {
    width: max-content;
    height: 20vh;
} */

.carousel img {
    height: 20vw;
    margin-right: auto;
    margin-left: auto;
}

.carousel {
    margin-bottom: 40px;
}

@media (max-width: 900px) {
    .carousel {
        width: auto;
        height: auto;
    }
}

.emailContact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.emailContact a {
    color: rgb(141, 144, 144);
}

.carousel-indicators {
    bottom: -38px;
}


/*  ~~~~~~~~~~~ colors ~~~~~~~~~~~~~~~~~~~~ */
/* 
4d194d purple
3e1f47 violet
312244 darkest violet
272640
212f45
1b3a4b going into teal
1b3a4b dark teal
144552
0b525b --top nav color
065a60
006466 teal */


/* .name {
position: fixed;
top: 0vh;
left: 2vh;
} */



/* mobile view */
@media only screen and (max-width: 768px) {


body {
    font-size: 4vh;
}

.name {
    font-size: 5vh;
}

/* .skcircle {
    width: 10vw;
} */

.topNav {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* font-size: 3vh; */
    padding-top: 0;
    margin-top: 64px;
    margin-bottom: 20px;
    font-size: 40px;
}

p {
    margin-left: 20px;
    margin-right: 20px;
}


/* .name {
    display: flex;
    justify-content: center;
} */

.korchie2transback {
    display: flex;
    align-items: center;
    width: 75vw;
}

.korchie4 {
    width: 75vw;
    margin-top: 20px;
}

.containerAboveEd {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.mainlinks {
    list-style-type: none;
    background: #0b525b;
    color: white;
    padding: 2vw 2vw;
    border-radius: 10%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.homepageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.amContainer {
    display: flex;
    flex-direction: column;
}

.edContainer {
    flex-direction: column;
}

.d-block {
    height: auto;
    width: 93vw;
}

.sk_transBack {
    height: auto;
    width: 70vw;
}

.carousel img {
    height: 70%;
    margin-right: auto;
    margin-left: auto;
}

.gitHubLogo {
    /* padding-right: 15px; */
    padding-left: 15px;
}

.socialLinks {
    align-items: center;
}

.socialLinks img {
    width: 100px;
}

.instagramLogo {
    padding-left: 15px;
}

}

/* desktop view */
@media only screen and (min-width: 768px) {
    /* .topNav {
        position: fixed;
        top: 1vh;
        right: 1vh;     
    } */

    /* a {
        padding: 1.5vh;
    } */

    .mainlinks {
        list-style-type: none;
        display: flex;
        justify-content: space-around;
        padding: 7px 7px;
        font-size: 40px;
        border-top: solid #1b3a4b;
        border-bottom: solid #1b3a4b;
        margin-top: 10px;
    }

    .logo {
        margin-bottom: 20px;
    }

    .mainlinks a {
        text-decoration: none;
    }

    .sk_transBack {
        width: 40vw;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .amBlerb {
        margin-top: 55px;
    }

    .topNav {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .korchie2transback {
        width: 50%;
        height: 50%;
    }

    .korchie4 {
        width: 50%;
        height: 50%;
    }



   

}