html {
    height: 100%;
}

body {
    /* background: #312244; */
    background: rgb(0, 100, 102);
    background: linear-gradient(0deg, rgba(0, 100, 102, 1) 0%, rgba(33, 47, 69, 1) 35%, rgba(77, 25, 77, 1) 100%);
    font-family: "Play", sans-serif;
    ;
}

h1 {
    font-family: 'Caveat', cursive;
    color: #006466;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;

}

p {
    color: white;
    font-size: 4vh;
}

a {
    font-family: "Play", sans-serif;
    color: white;
}


.socialLinks {
    font-size: 2vh;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

.logo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    justify-content: center;
    margin-bottom: -45px;
}

.skcircle {
    /* width: 10vw;
    height: 10vw; */

    width: 12vh; 
    height: 12vh;
    background: #065a60;
    border-radius: 50%;
}

.name {
    font-size: 10vh;
}

.mainBlerb {
    /* display: flex;
    justify-items: center; */
    display: block;
    margin-left: 5vw;
    /* margin-right: auto; */
    font-size: 35px;
}

table img {
    width: 20vw;
    height: auto;
}



.topNav {
    background: #0b525b;
    color: white;
    /* display: flex; */
    padding-top: 10px;

}

.mainlinks a {
    /* color: white; */
    font-family: "Amatic SC", sans-serif;
}


.korchie2transback {
    width: 50vw;
    /* margin-left: 50%;
    margin-top: -80px; */

}

.amBlerb {
    /* margin-top: 55px; */
    margin-left: 30px;
    margin-right: 30px;
}


.homepageContainer {
    display: flex;
    justify-content: space-between;
}

.homepageWords {
    display: block;
    margin-left: 20px;
    margin-right: 20px;
    
}

.sk_transBack {
    width: 50%;
    margin-top: 20px;
    border-radius: 8px;
}

.amContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.portfolioBlerb {
    margin: 30px;
}

.ed {
    color: #312244;
    list-style: none;
}

.edTitle {
    color: #006466;
    /* border: 5px; */
    margin-left: 10px;
}

.projectsTitle .edTitle .skillsTitle {
    font-size: 30px;
}

.skillsTitle {
    margin-left: 10px;
    color: #006466;

}

.edContainer {
    background-color: lightslategray;
    opacity: 0.8;;
    border-radius: 20px;
    width: fit-content;
    display: flex;
    align-content: center;
    flex-direction: column;
}

li {
    margin-right: 5px;
}

img {
    border-radius: 4rem;
}



/*  ~~~~~~~~~~~ colors ~~~~~~~~~~~~~~~~~~~~ */
/* 
4d194d purple
3e1f47 violet
312244 darkest violet
272640
212f45
1b3a4b going into teal
1b3a4b dark teal
144552
0b525b --top nav color
065a60
006466 teal */


/* .name {
position: fixed;
top: 0vh;
left: 2vh;
} */

/* mobile view */
@media only screen and (max-width: 768px) {

body {
    font-size: 4vh;
}

.name {
    font-size: 5vh;
}

/* .skcircle {
    width: 10vw;
} */

.topNav {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* font-size: 3vh; */
    padding-top: 0;
    margin-top: 50px;
}



/* .name {
    display: flex;
    justify-content: center;
} */

.korchie2transback {
    display: flex;
    align-items: center;
    width: 54vw;
}



.mainlinks {
    list-style-type: none;
    background: #0b525b;
    color: white;
    padding: 2vw 2vw;
    border-radius: 10%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.homepageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.amContainer {
    display: flex;
    flex-direction: column;
}

}

/* desktop view */
@media only screen and (min-width: 768px) {
    /* .topNav {
        position: fixed;
        top: 1vh;
        right: 1vh;     
    } */

    /* a {
        padding: 1.5vh;
    } */

    .mainlinks {
        list-style-type: none;
        display: flex;
        justify-content: space-around;
        padding: 7px 7px;
        font-size: 40px;
        border-top: solid #1b3a4b;
        border-bottom: solid #1b3a4b;
    }

    .mainlinks a {
        text-decoration: none;
    }

    .sk_transBack {
        width: 40vw;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .amBlerb {
        margin-top: 55px;
    }

    .topNav {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .korchie2transback {
        width: 50%;
        height: 50%;
    }

    .portfolioBlerb {
        margin-left: 15px;
        margin-right: 15px;
    }

}